@import '../styles/variables.scss';

$radio-size                : var(--sd-radio-size          , 44rpx);
$radio-inactive-icon-color : var(--sd-radio-inactive-color, $sd-gray-color-3);
$radio-inactive-text-color : var(--sd-radio-inactive-color, $sd-text-color);
$radio-active-color        : var(--sd-radio-active-color  , $sd-primary-color);
$radio-label-color         : var(--sd-radio-label-color   , $sd-text-color);
$radio-label-font-size     : var(--sd-radio-label-font-size, $sd-font-size-md);

.sd-radio {
    display: inline-flex;
    align-items: center;
    line-height: 1;

    &__label {
        color: $radio-label-color;
        font-size: $radio-label-font-size;
        margin-left: 8rpx;
        list-style: 1;
        color: $radio-inactive-text-color;

        &-left {
            margin-left: 0;
            margin-right: 8rpx;
        }
    }

    &__icon {
        line-height: 1;
        font-size: $radio-size;
        width: $radio-size;
        height: $radio-size;
        color: $radio-inactive-icon-color;
    }

    // 禁用状态
    &.is-disabled {
        opacity: $sd-opacity-disabled;
    }

    // 选中状态
    &.is-checked &__icon,
    &.is-cehcked &__lable {
        color: $radio-active-color;
    }

    // 隐藏原生元素
    &__original {
        display: none;
        opacity: 0;
    }
}

