@use '../styles/variables.scss' as *;

@mixin radio-size($text-size, $icon-size) {
    .sd-radio__label {
        font-size: $text-size;
    }

    .sd-radio__icon {
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
    }
}

.sd-radio {
    display: inline-flex;
    align-items: center;
    color: $sd-text-color;

    &__label {
        color: $sd-text-color;
        margin-left: 8rpx;

        &-left {
            margin-left: 0;
            margin-right: 8rpx;
        }
    }

    &__icon {
        line-height: 1;
        color: $sd-gray-color-3;
        vertical-align: middle
    }

    &--small {
        @include radio-size($sd-font-size-base, 38rpx);
    }

    &--normal {
        @include radio-size($sd-font-size-m, 44rpx);
    }

    &--large {
        @include radio-size($sd-font-size-m, 50rpx);
    }

    // 禁用状态
    &.is-disabled {
        opacity: $sd-opacity-disabled;
    }

    // 选中状态
    &.is-checked &__label,
    &.is-checked &__icon {
        color: $sd-primary-color;
    }

    // 隐藏原生元素
    &__original {
        display: none;
        opacity: 0;
    }
}

