@import '../styles/variables.scss';

$empty-background    : var(--sd-empty-background, $sd-white);
$empty-text-color    : var(--sd-empty-text-color, $sd-text-color-secondary);
$empty-text-font-size: var(--sd-empty-text-font-size, 30rpx);

.sd-empty {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $empty-background;

    &--page {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    &__text {
        font-size: $empty-text-font-size;
        color: $empty-text-color;
        padding: 36rpx 16vw 36rpx;
        text-align: center;
    }

    &__btn {
        width: 50vw;
    }
}
