@import '../styles/variables.scss';

$table-tbody-background         : var(--sd-table-tbody-background         , $sd-white);
$table-row-event-background     : var(--sd-table-row-event-background     , $sd-gray-color-1);
$table-border-color             : var(--sd-table-border-color             , $sd-border-color);

$table-thead-background         : var(--sd-table-thead-background         , $sd-gray-color-1);
$table-thead-color              : var(--sd-table-thead-color              , $sd-text-color);
$table-thead-font-size          : var(--sd-table-thead-font-size          , $sd-font-size-md);
$table-thead-padding            : var(--sd-table-thead-padding            , 18rpx);

$table-cell-padding             : var(--sd-table-cell-padding             , 16rpx);
$table-cell-font-size           : var(--sd-table-cell-font-size           , $sd-font-size-md);
$table-cell-color               : var(--sd-table-cell-color               , $sd-text-color);

.sd-table {
    display: flex;
    flex-direction: column;

    &-header {
        &__tr {
            display: flex;
        }

        &__th {
            padding: $table-thead-padding;
            font-size: $table-thead-font-size;
            font-weight: bold;
            color: $table-thead-color;
            background-color: $table-thead-background;
        }
    }

    &-body {
        flex: 1;
        background-color: $table-tbody-background;

        &__tr {
            display: flex;
        }

        &__td {
            font-size: $table-cell-font-size;
            padding: $table-cell-padding;
            font-weight: 400;
            color: $table-cell-color;
            border-bottom: 1px solid $sd-border-color-lighter;
        }
    }

    &-header__th,
    &-body__td {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;

        &.col--left {
            text-align: left;
            justify-content: flex-start;
        }

        &.col--right {
            text-align: right;
            justify-content: flex-end;
        }

        &.col--center {
            text-align: center;
            justify-content: center;
        }

        &.col--ellipsis {
           overflow: hidden;

            text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &.col--clickable {
            &:active {
                @include clickable($sd-black);
            }
        }
    }

    // 给定尺寸
    &--small {
        .sd-table-header__th,
        .sd-table-body__td {
            padding: 10rpx;
        }
    }

    &--large {
        .sd-table-header__th,
        .sd-table-body__td {
            padding: 30rpx;
        }
    }

    &__empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60rpx 0 40rpx;
        box-sizing: border-box;
    }

    // 斑马纹
    &--stripe .sd-table-body__tr:nth-child(even) {
        background-color: $table-row-event-background;
    }

    .sd-table-header__th,
    .sd-table-body__td {
        border-bottom: 1px solid $table-border-color;
    }

    // 显示边框
    &--border {
        .sd-table-header__th {
            border-bottom: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
        }

        .sd-table-body__td {
            border-bottom: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
        }

        .sd-table-header__tr {
            border-left: 1px solid $table-border-color;
            border-top: 1px solid $table-border-color;
        }

        .sd-table-body__tr {
            border-left: 1px solid $table-border-color;
        }
    }
}
