@import '../styles/variables.scss'  ;

$progress-outer-bg-color: var(--sd-progress-outer-bg-color, $sd-bg-color-container);
$progress-inner-bg-color: var(--sd-progress-inner-bg-color, $sd-primary-color);
$progress-border-radius : var(--sd-progress-outer-border-radius, $sd-border-radius-round);

.sd-progress {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1;

    &-outer {
        position: relative;
        flex: 1;
        height: 10px;
        background-color: $progress-outer-bg-color;
        border-radius: $progress-border-radius;

        .sd-progress__text {
            position: absolute;
            left: 0;
            top: 50%;
            padding: 6rpx 12rpx;
            color: $sd-white;
            font-size: $sd-font-size-xs;
            background-color: $sd-primary-color;
            border-radius: $sd-border-radius-s;
            transition: all .4s;
        }
    }

    &-inner {
        position: relative;
        width: 0;
        height: 100%;
        border-radius: $progress-border-radius;
        background-color: $progress-inner-bg-color;
        transition: all .4s;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $sd-font-size-xs;

        &.is-outer {
            margin-left: 20rpx;
            font-size: $sd-font-size-s;
        }
    }
}
