@import '../styles/variables.scss'  ;

$progress-background            : var(--sd-progress-background          , $sd-bg-color-container);
$progress-track-background      : var(--sd-progress-track-background    , $sd-primary-color);
$progress-povit-background      : var(--sd-progress-povit-background    , $sd-primary-color);
$progress-povit-padding         : var(--sd-progress-povit-paddding      , 6rpx 12rpx);
$progress-povit-radius          : var(--sd-progress-povit-radius        , $sd-radius-sm);
$progress-povit-text-color      : var(--sd-progress-povit-text-color    , $sd-white);
$progress-povit-text-font-size  : var(--sd-progress-povit-text-font-size, $sd-font-size-xs);
$progress-outer-text-color      : var(--sd-progress-outer-text-color    , $sd-text-color);
$progress-outer-text-font-size  : var(--sd-progress-outer-text-font-size, $sd-font-size-sm);

.sd-progress {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1;

    &-outer {
        position: relative;
        flex: 1;
        height: 10px;
        background-color: $progress-background;
        border-radius: $sd-radius-round;

        .sd-progress__text {
            position: absolute;
            left: 0;
            top: 50%;
            padding: $progress-povit-padding;
            border-radius: $progress-povit-radius;
            background-color: $progress-povit-background;
            color: $progress-povit-text-color;
            font-size: $progress-povit-text-font-size;
            white-space: nowrap;
            transition: all .4s;
        }
    }

    // 进度条轨道
    &__track {
        position: relative;
        width: 0;
        height: 100%;
        border-radius: $sd-radius-round;
        background-color: $progress-track-background;
        transition: all .4s;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        &.is-outer {
            margin-left: 20rpx;
            color: $progress-outer-text-color;
            font-size: $progress-outer-text-font-size;
        }
    }
}
