@import '../styles/variables.scss';

$popup-overlay-background: var(--sd-popup-overlay-background, $sd-bg-color-overlay);
$popup-background        : var(--sd-popup-background, $sd-white);
$popup-radius            : var(--sd-popup-radius    , $sd-radius-md);
$popup-z-index           : var(--sd-popup-z-index   , $sd-popup-z-index);

.sd-popup-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: $popup-z-index;
    box-sizing: border-box;
    transition: all .3s ease-in-out;

    &.has-overlay {
        background-color: $popup-overlay-background;
    }

    &.is-show {
        opacity: 1;
        visibility: visible;
    }

    &--center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sd-popup {
    position: fixed;
    background-color: $popup-background;
    box-sizing: border-box;
    transition: all .3s ease-in-out;

    &--top {
        top: var(--sd-page-navbar-height, 0);
        left: 0;
        right: 0;
        transform: translate3d(0, -100%, 0);

        &.is-show {
            transform: translate3d(0, 0, 0);
        }

        &.sd-popup--round {
            border-radius: 0 0 $popup-radius $popup-radius;
        }
    }

    &--bottom {
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 100%, 0);
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS<11.2 */
        padding-bottom: env(safe-area-inset-bottom); /* 兼容iOS>= 11.2 */

        &.is-show {
            transform: translate3d(0, 0, 0);
        }

        &.sd-popup--round {
            border-radius: $popup-radius $popup-radius 0 0;
        }
    }

    &--left {
        top: var(--sd-page-navbar-height, 0);
        bottom: 0;
        left: 0;
        width: 75%;
        transform: translate3d(-100%, 0, 0);

        &.is-show {
            transform: translate3d(0, 0, 0);
        }
    }

    &--right {
        top: var(--sd-page-navbar-height, 0);
        bottom: 0;
        right: 0;
        width: 75%;
        transform: translate3d(100%, 0, 0);

        &.is-show {
            transform: translate3d(0, 0, 0);
        }
    }

    &--center {
        width: 90%;
        opacity: 0;
        // transform: scale3d(0, 0, 0);

        &.is-show {
            opacity: 1;
            // transform: scale3d(1, 1, 1);
        }

        &.sd-popup--round {
            border-radius: $popup-radius;
        }
        &.sd-popup--round .sd-popup__body {
            border-radius: 0 0 $popup-radius $popup-radius;
        }
    }

    &__header {
        padding: 40rpx 0 30rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    // 顶部标题
    &__title {
        font-weight: bold;
        font-size: $sd-font-size-lg;
    }

    // 顶部关闭按钮
    &__header-close {
        position: absolute;
        top: 16rpx;
        right: 20rpx;
        width: 60rpx;
        height: 60rpx;
        font-size: 32rpx;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // 内部区域
    &__body {
        overflow: hidden;
        width: 100%;
    }

    // 底部关按钮
    &__footer-close {
        position: absolute;
        left: 50%;
        bottom: -100rpx;
        width: 60rpx;
        height: 60rpx;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $sd-white;
        z-index: $sd-popup-z-index;

        .sd-icon {
            font-size: 60rpx;
            color: $sd-white;
        }
    }
}
