@import '../styles/variables.scss';

.sd-radio-group2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24rpx;

    // 独占一行
    &--block {
        flex-direction: column;

        .sd-radio2 {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    &--divider {
        gap: 0;
    }

    // 一行展示多个
    &.is-multi-column {
        .sd-radio2 {
            width: var(--width);
            box-sizing: border-box;
            overflow: hidden;
        }
    }
}
