@import '../styles/variables.scss';

.sd-radio-group2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24rpx;

    &--block {
        flex-direction: column;

        .sd-radio2 {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    &.is-multi-column {
        .sd-radio2 {
            width: var(--width);
            box-sizing: border-box;
            overflow: hidden;
        }
    }
}
