@import '../styles/variables.scss'  ;

$grid-item-text-size: var(--sd-grid-item-text-size, $sd-font-size-base);
$grid-item-icon-size: var(--sd-grid-item-icon-size, 60rpx);

.sd-grid-item {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20rpx 0;
        height: 100%;
        box-sizing: border-box;
        line-height: 1;
        border: 0 solid $sd-border-color;
        font-size: $grid-item-text-size;

        .sd-icon {
            font-size: $grid-item-icon-size;
            width: $grid-item-icon-size;
            height: $grid-item-icon-size;
        }
    }

    &__text {
        margin-top: 12rpx;
        color: $sd-text-color;
        line-height: 1;
    }

    &__button-box {
        @include reset-button();
        height: 100%;
    }

    &--border &__content {
        border-right-width: 1px;
        border-bottom-width: 1px;
    }

    &--square &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &--row {
        .sd-grid-item__content {
            flex-direction: row;
        }

        .sd-grid-item__text {
            margin-top: 0;
            margin-left: 8rpx;
        }
    }

    &--column &__content {
        flex-direction: column;
    }

    &--clickable {
        @include clickable($sd-black);
    }
}
