# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
coverage

# local env files
*.local

version-history/

report.html
shims-auto-import-hooks.d.ts

# src
src/uni_modules
