@import '../styles/variables.scss';

$checkbox-size                : var(--sd-checkbox-size           , 44rpx);
$checkbox-inactive-icon-color : var(--sd-checkbox-inactive-color , $sd-gray-color-3);
$checkbox-inactive-text-color : var(--sd-checkbox-inactive-color , $sd-text-color);
$checkbox-active-color        : var(--sd-checkbox-active-color   , $sd-primary-color);
$checkbox-label-color         : var(--sd-checkbox-label-color    , $sd-text-color);
$checkbox-label-font-size     : var(--sd-checkbox-label-font-size, $sd-font-size-md);

.sd-checkbox {
    display: inline-flex;
    align-items: center;
    line-height: 1;

    &__label {
        color: $checkbox-label-color;
        font-size: $checkbox-label-font-size;
        margin-left: 8rpx;
        list-style: 1;
        color: $checkbox-inactive-text-color;

        &-left {
            margin-left: 0;
            margin-right: 8rpx;
        }
    }

    &__icon {
        line-height: 1;
        font-size: $checkbox-size;
        width: $checkbox-size;
        height: $checkbox-size;
        color: $checkbox-inactive-icon-color;
    }

    // 禁用状态
    &.is-disabled {
        opacity: $sd-opacity-disabled;
    }

    // 选中状态
    &.is-checked &__icon,
    &.is-cehcked &__lable {
        color: $checkbox-active-color;
    }

    // 隐藏原生元素
    &__original {
        display: none;
        opacity: 0;
    }
}

