@import '../styles/variables.scss'  ;

@mixin checkbox-size($text-size, $icon-size) {
    .sd-checkbox__label {
        font-size: $text-size;
    }

    .sd-checkbox__icon {
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
    }
}

.sd-checkbox {
    display: inline-flex;
    align-items: center;
    color: $sd-text-color;

    &__label {
        margin-left: 8rpx;
        font-size: $sd-font-size-md;

        &--left {
            margin-left: 0;
            margin-right: 8rpx;
        }
    }

    &__icon {
        color: $sd-gray-color-3;
        vertical-align: middle;
        line-height: 1;
    }

    &--small {
        @include checkbox-size($sd-font-size-md, 38rpx);
    }

    &--normal {
        @include checkbox-size($sd-font-size-md, 44rpx);
    }

    &--large {
        @include checkbox-size($sd-font-size-md, 50rpx);
    }

    // 选中状态
    &.is-checked &__icon,
    &.is-checked &__label {
        color: $sd-primary-color;
    }

    // 禁用状态
    &.is-disabled {
        opacity: $sd-opacity-disabled;
    }

    // 隐藏原生元素
    &__original {
        display: none;
        opacity: 0;
    }
}
