@import '../styles/variables.scss';

$rate-icon-size          : var(--sd-rate-icon-size, 20px);
$rate-icon-inactive-color: var(--sd-rate-icon-inactive-color, $sd-text-color-placeholder);
$rate-icon-active-color  : var(--sd-rate-icon-active-color  , $sd-danger-color);
$rate-icon-disabled-color: var(--sd-rate-icon-disabled-color, $sd-text-color-disabled);

.sd-rate {
    display: flex;
    align-items: center;

    &__item {
        position: relative;
        font-size: $rate-icon-size;
    }

    &__icon {
        display: block;
        height: 100%;
        color: $rate-icon-inactive-color;

        &--half {
            position: absolute;
            width: 0.5em !important;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        &.is-active {
            color: $rate-icon-active-color;
        }

        &.is-disabled {
            color: $rate-icon-disabled-color;
        }
    }
}
