@import '../styles/variables.scss';

$stepper-width         : var(--sd-stpper-width              , 200rpx);
$stepper-height        : var(--sd-stepper-height            , 56rpx);
$stepper-background    : var(--sd-stepper-background        , $sd-bg-color-container);
$stepper-icon-color    : var(--sd-stepper-icon-color        , $sd-text-color);
$stepper-text-color    : var(--sd-stepper-text-color        , $sd-text-color);
$stepper-text-font-size: var(--sd-stepper-text-font-size    , $sd-font-size-md);
$stepper-radius        : var(--sd-stepper-radius            , $sd-radius-sm);
$stepper-round-color   : var(--sd-stepper-round-color       , $sd-primary-color);

.sd-stepper {
    display: flex;
    justify-content: flex-end;
    width: $stepper-width;

    &__minus,
    &__plus,
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $stepper-background;
        border-radius: $stepper-radius;
        box-sizing: border-box;
    }

    &__minus,
    &__plus {
        position: relative;
        width: $stepper-height;
        height: $stepper-height;
        color: $stepper-icon-color;

        &:active {
            opacity: $sd-opacity-hover;
        }

        &.is-disabled:active {
            opacity: 1;
        }
    }

    &__minus::before {
        content: '';
        position: absolute;
        left: 25%;
        right: 25%;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        background-color: currentColor;
        transform: translateY(-50%);
    }

    &__plus::before {
        content: '';
        position: absolute;
        left: 25%;
        right: 25%;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        background-color: currentColor;
        transform: translateY(-50%);
    }
    &__plus:after {
        content: '';
        position: absolute;
        top: 25%;
        bottom: 25%;
        left: 50%;
        width: 2px;
        border-radius: 2px;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    &__input {
        flex: 1;
        height: $stepper-height ;
        font-size: $stepper-text-font-size;
        color: $stepper-text-color;
        margin: 0 2px;

        &:active {
            opacity: $sd-opacity-hover;
        }

        &.is-disabled:active {
            opacity: 1;
        }
    }

    &__minus,
    &__plus,
    &__input {
        &.is-disabled {
            opacity: $sd-opacity-disabled;
        }
    }

    // ----------------------------------------------------------------------------
    // 圆角风格
    // ----------------------------------------------------------------------------
    &--round &__minus {
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $stepper-round-color;
        color: $stepper-round-color;
    }

    &--round &__input {
        margin: 0 4px;
        background-color: transparent;
    }
    &--round &__input--border {
        border: 1px solid $stepper-round-color;
    }

    &--round &__plus {
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $stepper-round-color;
        color: $sd-white;
    }
}
