@import '../styles/variables.scss';

$cell-background       : var(--sd-cell-background       , $sd-white);
$cell-padding          : var(--sd-cell-padding          , 30rpx 36rpx);
$cell-round-radius     : var(--sd-cell-round-radius     , 16rpx);
$cell-icon-size        : var(--sd-cell-icon-size        , 48rpx);
$cell-border-color     : var(--sd-cell-border-color     , $sd-border-color);
$cell-title-size       : var(--sd-cell-title-size       , $sd-font-size-md);
$cell-title-color      : var(--sd-cell-title-color      , $sd-text-color);
$cell-description-color: var(--sd-cell-description-color, $sd-text-color-secondary);
$cell-description-size : var(--sd-cell-description-size , $sd-font-size-sm);
$cell-value-color      : var(--sd-cell-value-color      , $sd-text-color);
$cell-value-size       : var(--sd-cell-value-size       , $sd-font-size-md);
$cell-arrow-color      : var(--sd-cell-arrow-color      , $sd-gray-color-7);

.sd-cell {
    position: relative;
    display: flex;
    align-items: center;
    padding: $cell-padding;
    background-color: $cell-background;
    box-sizing: border-box;

    // 左侧内容
    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        margin-right: 16rpx;

        .sd-icon {
            font-size: $cell-icon-size;
            width: $cell-icon-size;
            height: $cell-icon-size;
        }

        .sd-image {
            width: $cell-icon-size;
            height: $cell-icon-size;
        }

        .sd-icon,
        .sd-image {
            margin-right: 16rpx;
        }

        .sd-cell__title {
            font-size: $cell-title-size;
            color: $cell-title-color;
        }

        .sd-cell__desc {
            margin-top: 12rpx;
            font-size: $cell-description-size;
            color: $cell-description-color;
            line-height: 1;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .sd-cell-value {
            font-size: $cell-value-size;
            color: $cell-value-color;
        }
    }

    &.is-active:active {
        @include clickable($sd-black);
    }

    &.is-round {
        border-radius: $cell-round-radius;
    }

    &.is-round + &.is-round {
        margin-top: 24rpx;
    }

    // 右侧箭头
    &__arrow {
        width: 40rpx;
        height: 40rpx;
        border-width: 3px 3px 0 0;
        border-style: solid;
        transform: rotate(45deg) scale(0.5);
        border-radius: 4rpx;
        flex-shrink: 0;
        box-sizing: border-box;
        transform-origin: center center;
        margin-right: -5.8579rpx;
        border-color: $cell-arrow-color;
    }

    // 顶部和底部边框
    &__bottom-border {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        transform: scaleY(.5);
        transform-origin: 0 0;
        z-index: 1;
        background-color: $cell-border-color;
    }
}
