@use '../styles/variables.scss' as *;

.sd-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 0 solid $sd-border-color;

    &--border {
        border-top-width: 1px;
        border-left-width: 1px;
    }
}
