@import '../styles/variables.scss';

$radio2-inactive-color  : var(--sd-radio2-inactive-color  , $sd-gray-color-6);
$radio2-active-color    : var(--sd-radio2-active-color    , $sd-primary-color);
$radio2-label-text-color: var(--sd-radio2-label-text-color, $sd-text-color);
$radio2-label-font-size : var(--sd-radio2-label-font-size , $sd-font-size-md);
$radio2-desc-font-size  : var(--sd-radio2-desc-font-size  , $sd-font-size-sm);
$radio2-desc-text-color : var(--sd-radio2-desc-text-color , $sd-text-color-secondary);

@include b('radio2') {
    position: relative;
    display: inline-flex;
    margin-right: 24rpx;

    @include e('icon') {
        font-size: 40rpx;
        height: 1em;
        line-height: 1em;
        margin-right: 12rpx;
        cursor: pointer;

        .sd-icon {
            display: block;
            width: 1.25em;
            height: 1.25em;
            font-size: 0.8em;
            line-height: 1.25;
            text-align: center;
            color: transparent;  // 隐藏默认图标
            box-sizing: border-box;
            border: 1px solid $sd-border-color;
        }

        &--circle .sd-icon {
            border-radius: 50%;
        }
    }

    @include e('icon-custom') {
        font-size: 40rpx;
        height: 1em;
        line-height: 1em;
        margin-right: 12rpx;
        cursor: pointer;
    }

    @include e('label') {
        flex: 1;
    }

    // 转换为块状元素，独占一行
    &--block {
        display: flex;
    }

    // 反转位置，图标在右，文本在左
    &--reverse{
        flex-direction: row-reverse;

        .sd-radio2__icon,
        .sd-radio2__icon-custom {
            margin-right: 0;
            margin-left: 12rpx;
        }
    }

    &--button {
        padding: 24rpx;
        text-align: center;
        background-color: $sd-fill-color;
        color: $sd-text-color;
        border-radius: 12rpx;
    }

    &--button-check {
        padding: 32rpx;
        text-align: center;
        border-radius: 12rpx;
        overflow: hidden;
        @include hairline($sd-border-color, '');

        &::after {
            border-radius: calc(12rpx * 2);
        }

        &::before {
            content: '';
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 28rpx solid $sd-primary-color;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }

    &__icon-button-check {
        display: none;
        position: absolute;
        left: 4rpx;
        top: 4rpx;
        margin: 0;
        z-index: 2;
        font-size: 1em;
        color: $sd-white;
    }

    @include when('checked') {
        .sd-radio2__icon .sd-icon {
            background-color: $sd-primary-color;
            color: $sd-white;
            border-color: transparent;
        }

        .sd-radio2__icon-custom {
            color: $sd-primary-color;
        }

        &.sd-radio2--button {
            color: $sd-primary-color;
            background-color: $sd-primary-color-9;
        }

        &.sd-radio2--button-check {
            color: $sd-primary-color;

            &::after {
                border-color: $sd-primary-color;
            }

            .sd-radio2__icon-button-check,
            &::before {
                display: block;
            }
        }

    }

    @include when('disabled') {
        .sd-radio2__icon .sd-icon {
            background-color: #ebedf0;
            border-color: #c8c9cc;
        }

        .sd-radio2__icon-custom,
        &.is-checked .sd-radio2__icon .sd-icon {
            color: #c8c9cc;
        }

        .sd-radio2__label {
            opacity: $sd-opacity-disabled;
        }

        &.sd-radio2--button {
            opacity: $sd-opacity-disabled;
        }

        &.sd-radio2--button-check {
            background-color: #ebedf0;

            &::after {
                border-color: #c8c9cc;
            }
        }
    }
}
