@import '../styles/variables.scss'  ;

$avatar-color               : var(--sd-avatar-color      , $sd-text-color);
$avatar-background          : var(--sd-avatar-background , $sd-bg-color-container);
$avatar-small-size          : var(--sd-avatar-small-size , 64rpx);
$avatar-normal-size         : var(--sd-avatar-normal-size, 96rpx);
$avatar-large-size          : var(--sd-avatar-large-size , 128rpx);
$avatar-small-font-size     : var(--sd-avatar-small-size , 32rpx);
$avatar-normal-font-size    : var(--sd-avatar-normal-size, 36rpx);
$avatar-large-font-size     : var(--sd-avatar-large-size , 50rpx);
$avatar-border-radius-circle: var(--sd-avatar-border-radius-circle, $sd-radius-circle);
$avatar-border-radius-round : var(--sd-avatar-border-radius-round , $sd-radius-round);

@mixin avatar-size($size, $font-size) {
    width: $size;
    height: $size;

    .sd-icon {
        width: $font-size;
        height: $font-size;
    }

    .sd-icon,
    .sd-avatar__text {
        font-size: $font-size;
    }
}

.sd-avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $avatar-background;
    color: $avatar-color;

    &--small {
        @include avatar-size($avatar-small-size, $avatar-small-font-size);
    }

    &--normal {
        @include avatar-size($avatar-normal-size, $avatar-normal-font-size);
    }

    &--large {
        @include avatar-size($avatar-large-size, $avatar-large-font-size);
    }

    &--circle {
        border-radius: $avatar-border-radius-circle;
    }

    &--round {
        border-radius: $avatar-border-radius-round;
    }
}
