.sd-theme-dark {
    --sd-text-color: rgba(0, 0, 0, 0.6);
    --sd-text-color-primary: rgba(0, 0, 0, 0.9);
    --sd-text-color-secondary: rgba(0, 0, 0, 0.4);
    --sd-text-color-placeholder: rgba(0, 0, 0, 0.26);
    --sd-border-color: #777777;
}
