@import '../styles/variables.scss';

$form-item-margin            : var(--sd-form-item-margin            , 0 36rpx);
$form-item-padding           : var(--sd-form-item-padding           , 24rpx 0);
$form-item-background        : var(--sd-form-item-background        , $sd-white);
$form-item-label-font-size   : var(--sd-form-item-label-font-size   , $sd-font-size-md);
$form-item-label-font-weight : var(--sd-form-item-label-font-weight , bold);
$form-item-label-color       : var(--sd-form-item-label-color       , $sd-text-color);
$form-item-required-font-size: var(--sd-form-item-required-font-size, $sd-font-size-md);
$form-item-required-color    : var(--sd-form-item-required-color    , $sd-danger-color);
$form-item-tips-font-size    : var(--sd-form-item-tips-font-size    , $sd-font-size-sm);
$form-item-tips-color        : var(--sd-form-item-tips-color        , $sd-text-color-placeholder);
$form-item-error-font-size   : var(--sd-font-item-error-font-size   , $sd-font-size-sm);
$form-item-error-color       : var(--sd-font-item-error-color       , $sd-danger-color);

.sd-form-item {
    position: relative;
    margin: $form-item-margin;
    padding: $form-item-padding;
    background-color: $form-item-background;
    box-sizing: border-box;

    // 显示底部边框
    &--border {
        @include hairline($sd-border-color, 'bottom');
    }

    // 内容区域
    &-content {
        display: flex;
        align-items: center;

        &__left {
            padding-right: 16rpx;
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__right {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex: 1;
            overflow: hidden;
        }

        // 纵向布局
        &--column {
            display: block;
        }
        &--column &__left {
            margin-bottom: 16rpx;
        }
    }

    // 必填图标
    &__required {
        font-size: $form-item-required-font-size;
        color: $form-item-required-color;
    }

    // 标题
    &__label {
        font-size: $form-item-label-font-size;
        font-weight: $form-item-label-font-weight ;
        color: $form-item-label-color;
    }

    // 表单域提示
    &__tips {
        width: 100%;
        padding-top: 10rpx;
        color: $form-item-tips-color;
        font-size: $form-item-tips-font-size;
        box-sizing: border-box;
    }

    // 表单域错误提示
    &__error {
        width: 100%;
        font-size: $form-item-error-font-size;
        color: $form-item-error-color;
        padding-top: 10rpx;
        padding-right: 16rpx;
        box-sizing: border-box;
    }

    &.is-content-right &-content__right,
    &.is-content-right &__tips,
    &.is-content-right &__error {
        justify-content: flex-end;
        text-align: right;
    }

    // // 重置包裹的受控组件
    // .sd-input,
    // .sd-textarea {
    //     padding: 0;
    // }
}
