@mixin clickable($color) {
    position: relative;

    // 点击态
    &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border: inherit;
        background-color: $color;
        border-color: $color;
        border-radius: inherit;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        z-index: 1;
    }

    // 点击
    &:active::before {
        opacity: 0.1;
    }
}

// 细边框
@mixin hairline($border-color, $postion: '') {
    position: relative;

    &::after {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
        pointer-events: none;
        border-radius: inherit;
        z-index: 0;

        @if ($postion == 'top' or $postion == 'bottom') {
            left: 0;
            right: 0;
            #{ $postion }: 0;
            #{ 'border-' + $postion }: 1px solid $border-color;
        } @else if ($postion == 'left' or $postion == 'right') {
            top: 0;
            bottom: 0;
            #{ $postion }: 0;
            #{ 'border-' + $postion }: 1px solid $border-color;
        } @else {
            right: -50%;
            bottom: -50%;
            left: -50%;
            top: -50%;
            border: 1px solid $border-color;
        }
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
        &::after {
            @if ($postion == 'top' or $postion == 'bottom') {
                transform: scaleY(0.5);
            } @else if ($postion == 'left' or $postion == 'right') {
                transform: scaleX(0.5);
            } @else {
                transform: scale(0.5);
            }
        }
    }
}


@mixin reset-button() {
    display: block;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    --webkit-touch-callout: none;
    --webkit-user-select: none;
    user-select: none;

    &::before,
    &::after {
        border: none;
    }

    // 继承属性
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
    height: inherit;
    line-height: 1;
    font-size: inherit;
    font-weight: inherit;
}
