
.sd-pull-refresh {
    height: 100%;

    &__content {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        transition: transform .3s ease;

        &.is-loosing {
            transform: rotate(180deg);
        }
    }
}
