@import '../styles/variables.scss';

$number-keyboard-width                : var(--sd-number-keyboard-width                , 100%);
$number-keyboard-background           : var(--sd-number-keyboard-background           , $sd-bg-color-container);
$number-keyboard-key-height           : var(--sd-number-keyboard-key-height           , 48px);
$number-keyboard-key-line-height      : var(--sd-number-keyboard-key-line-height      , 1.5);
$number-keyboard-key-radius           : var(--sd-number-keyboard-key-radius           , 8px);
$number-keyboard-key-font-size        : var(--sd-number-keyboard-key-font-size        , 28px);
$number-keyboard-key-color            : var(--sd-number-keyboard-key-color            , $sd-text-color);
$number-keyboard-key-background       : var(--sd-number-keyboard-background           , $sd-white);
$number-keyboard-key-finish-font-size : var(--sd-number-keyboard-key-finish-font-size , $sd-font-size-lg);
$number-keyboard-key-finish-color     : var(--sd-number-keyboard-key-finish-color     , $sd-white);
$number-keyboard-key-finish-background: var(--sd-number-keyboard-key-finish-background, $sd-primary-color);

.sd-number-keyboard {
    width: $number-keyboard-width;
    background-color: $number-keyboard-background;

    &__body {
        display: flex;
        padding: 6px 0 0 6px;
        width: 100%;
        box-sizing: border-box;

        &-left {
            display: flex;
            flex: 3;
            flex-wrap: wrap;
        }

        &-right {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

// 键盘容器
.sd-number-keyboard .keyboard-wrapper {
    position: relative;
    flex: 1;
    flex-basis: 33%;
    padding: 0 6px 6px 0;
    box-sizing: border-box;

    &.is-large {
        flex: 2;
        flex-basis: 66%;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $number-keyboard-key-font-size;
        color: $number-keyboard-key-color;
        height: $number-keyboard-key-height;
        line-height: $number-keyboard-key-line-height;
        border-radius: $number-keyboard-key-radius;
        background-color: $number-keyboard-key-background;

        &.is-finish-key {
            font-size: $number-keyboard-key-finish-font-size;
            color: $number-keyboard-key-finish-color;
            background-color: $number-keyboard-key-finish-background;
        }

        &:active {
            @include clickable($sd-black);
        }
    }
}

.sd-number-keyboard__body-right .keyboard-wrapper__item {
    height: 100%;
}
