@import '../styles/variables.scss';

$switch-bar-background       : var(--sd-switch-bar-background       , $sd-bg-color-container);
$switch-bar-active-background: var(--sd-switch-bar-active-background, $sd-white);
$switch-bar-text-color       : var(--sd-switch-bar-text-color       , $sd-text-color-secondary);
$switch-bar-active-text-color: var(--sd-switch-bar-active-text-color, $sd-text-color);
$switch-bar-font-size        : var(--sd-switch-font-size            , $sd-font-size-md);

.sd-switch-bar {
    position: relative;
    display: inline-block;
    border: 2px solid $switch-bar-background;
    background-color: $switch-bar-background;
    width: 100%;
    height: 60rpx;

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 100%;
    }

    &__item {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        height: 100%;
        color: $switch-bar-text-color;
        font-size: $switch-bar-font-size;
        z-index: 2;
        box-sizing: border-box;

        &.is-active {
            color: $switch-bar-active-text-color;
            font-weight: bold;
        }
    }

    &__focus {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: $switch-bar-active-background;
        box-shadow: 0 1px 10rpx rgba(0,0,0,0.1);
        transition: transform 0.15s ease-out;
    }

    &,
    & &__focus {
        border-radius: 12rpx;
    }

    &--round,
    &--round &__focus {
        border-radius: 32rpx;
    }
}
