@import '../styles/variables.scss';

.sd-checkbox-group2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--divider {
        flex-direction: column;
        gap: 0;

        .sd-checkbox2 {
            display: flex;
            padding: 30rpx 16rpx;
            margin: 0;

            @include hairline($sd-border-color, 'bottom');
            @include clickable($sd-black);
        }
    }

    // 一行展示多个
    &.is-multi-column {
        gap: 24rpx;

        .sd-checkbox2 {
            width: var(--width);
            box-sizing: border-box;
            overflow: hidden;
            margin: 0;
        }
    }
}
