@use '../styles/variables.scss' as *;

.sd-radio-group {
    .sd-radio + .sd-radio {
        margin-left: 20rpx;
    }

    &.is-multi-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;

        .sd-radio {
            margin-left: 0;
            justify-content: inherit;
        }
    }

    &.is-wrap {
        .sd-radio {
            display: flex;
            width: 100%;
        }

        .sd-radio + .sd-radio {
            margin-left: 0;
            margin-top: 20rpx;
        }
    }
}
