
// 定义页面基础样式
page {
    background-color: $sd-bg-color;
    font-size: 32rpx;
    font-weight: 500;
    color: #181818;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}


// 重置按钮
button.reset-button {
    display: block !important;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;

    &::after {
        display: none;
    }
}

// 重置滚动条
.reset-scroll-bar{
    ::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        color: transparent;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.demo-card {
    border-radius: $sd-spacer;
    background-color: $sd-white;
    margin: 30rpx;
    padding: 40rpx 0;

    &__title {
        font-size: 30rpx;
        line-height: 1;
        // font-weight: 600;
        margin-left: $sd-spacer-2;
        padding-left: 36rpx;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 20rpx;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: #07c16c; // $sd-primary-color;
            border-radius: $sd-border-radius-circle;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__body {
        padding: $sd-spacer-2;
        box-sizing: border-box;

        &.flex-xc {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &.is-dark {
        background-color: #1B1B1B;
        color: #D1D1D1;
    }

    &.is-custom {
        margin-left: 0;
        margin-right: 0;
        background-color: transparent;

        .demo-card__body {
            padding-left: 0;
            padding-right: 0;
            padding-top: $sd-spacer;
            padding-bottom: $sd-spacer;
        }
    }
}


.demo-sticky__title {
    background: #f7f7f7;
    padding: 24rpx 30rpx;
    font-size: 32rpx;
}
