@import '../styles/variables.scss'  ;


$dialog-icon-size          : var(--sd-dialog-icon-size          , 112rpx);
$dialog-padding            : var(--sd-dialog-padding            , 56rpx 56rpx 0);
$dialog-title-font-size    : var(--sd-dialog-title-font-size    , $sd-font-size-lg);
$dialog-title-margin-bottom: var(--sd-dialog-title-margin-bottom, 30rpx);
$dialog-image-radius       : var(--sd-dialog-image-radius       , $sd-radius-md);
$dialog-content-font-size  : var(--sd-dialog-content-font-sizd  , $sd-font-size-md);
$dialog-content-color      : var(--sd-dialog-content-color      , $sd-text-color-secondary);
$dialog-content-max-height : var(--sd-dialog-content-max-height , 500rpx);
$dialog-footer-padding     : var(--sd-dialog-padding            , 0 56rpx 56rpx);

.sd-dialog {

    &__image {
        border-radius: $dialog-image-radius $dialog-image-radius 0 0;
        overflow: hidden;
    }

    &__main {
        padding: $dialog-padding;
        box-sizing: border-box;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: cnter;
        margin-bottom: $dialog-title-margin-bottom;
        font-weight: bold;
        font-size: $dialog-title-font-size;
    }

    &__icon {
        display: flex;
        justify-content: center;
        margin-bottom: 12rpx;

        &.is-success {
            color: $sd-success-color;
        }

        &.is-error {
            color: $sd-danger-color;
        }

        &.is-warning {
            color: $sd-warning-color;
        }

        .sd-icon {
            font-size: $dialog-icon-size;
        }
    }

    &__input {
        display: block;
        margin-top: 10rpx;
        width: 100%;
        box-sizing: border-box;
        height: 90rpx;
        font-size: $sd-font-size-md;
        padding: 0 30rpx;
        outline: none;
        background-color: $sd-bg-color-container;
        border-radius: 10rpx;
        text-align: left;
    }

    // 弹窗内容信息
    &__content {
        max-height: $dialog-content-max-height;
        width: 100%;
        font-size: $dialog-content-font-size;
        color: $dialog-content-color;
        margin-bottom: 50rpx;
    }

    &__footer {
        display: flex;
        padding: $dialog-footer-padding;

        .sd-button {
            flex: 1;
        }

        &--row {
            flex-direction: row;

            .sd-button + .sd-button {
                margin-left: 20rpx;
            }
        }

        &--column {
            flex-direction: column;

            .sd-button + .sd-button {
                margin-top: 20rpx;
            }
        }

    }
}
