@forward './mixins/index.scss';

// 基础色
$sd-white: #fff;
$sd-black: #000;
$sd-blue : var(--sd-blue , #1D6FE9);
$sd-blue-3: var(--sd-blue-3, mix($sd-white, #1D6FE9, 30%)); // #7e8dff

// 中性色
$sd-gray-color-1 : var(--sd-gray-color-1 , #f3f3f3);
$sd-gray-color-2 : var(--sd-gray-color-2 , #eeeeee);
$sd-gray-color-3 : var(--sd-gray-color-3 , #e8e8e8);
$sd-gray-color-4 : var(--sd-gray-color-4 , #dddddd);
$sd-gray-color-5 : var(--sd-gray-color-5 , #c6c6c6);
$sd-gray-color-6 : var(--sd-gray-color-6 , #a6a6a6);
$sd-gray-color-7 : var(--sd-gray-color-7 , #8b8b8b);
$sd-gray-color-8 : var(--sd-gray-color-8 , #777777);
$sd-gray-color-9 : var(--sd-gray-color-9 , #5e5e5e);
$sd-gray-color-10: var(--sd-gray-color-10, #4b4b4b);
$sd-gray-color-11: var(--sd-gray-color-11, #393939);
$sd-gray-color-12: var(--sd-gray-color-12, #2c2c2c);
$sd-gray-color-13: var(--sd-gray-color-13, #242424);
$sd-gray-color-14: var(--sd-gray-color-14, #181818);

// 主题色
$primary-color: #465CFF !default;
$sd-primary-color  : var(--sd-primary-color  , $primary-color);
// $sd-primary-color-1: var(--sd-primary-color-1, #596cff);
// $sd-primary-color-2: var(--sd-primary-color-2, #6b7dff);
$sd-primary-color-3: var(--sd-primary-color-3, mix($sd-white, $primary-color, 30%)); // #7e8dff
// $sd-primary-color-4: var(--sd-primary-color-4, #909dff);
$sd-primary-color-5: var(--sd-primary-color-5, mix($sd-white, $primary-color, 50%)); //#a3aeff
// $sd-primary-color-6: var(--sd-primary-color-6, #b5beff);
$sd-primary-color-7: var(--sd-primary-color-7, mix($sd-white, $primary-color, 70%)); // #c8ceff
$sd-primary-color-8: var(--sd-primary-color-8, mix($sd-white, $primary-color, 80%)); // #dadeff
$sd-primary-color-9: var(--sd-primary-color-9, mix($sd-white, $primary-color, 90%)); // #edefff

// 辅助色 - 成功
$success-color: #09BE4F !default;
$sd-success-color  : var(--sd-success-color  , $success-color);
// $sd-success-color-1: var(--sd-success-color-1, #76c84e);
// $sd-success-color-2: var(--sd-success-color-2, #85ce61);
$sd-success-color-3: var(--sd-success-color-3, mix($sd-white, $success-color, 30%)); // #95d475
// $sd-success-color-4: var(--sd-success-color-4, #a4da89);
$sd-success-color-5: var(--sd-success-color-5, mix($sd-white, $success-color, 50%)); // #b3e19d
// $sd-success-color-6: var(--sd-success-color-6, #c2e7b0);
$sd-success-color-7: var(--sd-success-color-7, mix($sd-white, $success-color, 70%)); // #d1edc4
$sd-success-color-8: var(--sd-success-color-8, mix($sd-white, $success-color, 80%)); // #e1f3d8
$sd-success-color-9: var(--sd-success-color-9, mix($sd-white, $success-color, 90%)); // #f0f9eb

// 辅助色 - 提醒
$warning-color: #FFB703 !default;
$sd-warning-color  : var(--sd-warning-color  , $warning-color);
// $sd-warning-color-1: var(--sd-warning-color-1, #e9ab50);
// $sd-warning-color-2: var(--sd-warning-color-2, #ebb563);
$sd-warning-color-3: var(--sd-warning-color-3, mix($sd-white, $warning-color, 30%)); // #eebe77
// $sd-warning-color-4: var(--sd-warning-color-4, #f0c78a);
$sd-warning-color-5: var(--sd-warning-color-5, mix($sd-white, $warning-color, 50%)); // #f3d19e
// $sd-warning-color-6: var(--sd-warning-color-6, #f5dab1);
$sd-warning-color-7: var(--sd-warning-color-7, mix($sd-white, $warning-color, 70%)); // #f8e3c5
$sd-warning-color-8: var(--sd-warning-color-8, mix($sd-white, $warning-color, 80%)); // #faecd8
$sd-warning-color-9: var(--sd-warning-color-9, mix($sd-white, $warning-color, 90%)); // #fdf6ec

// 辅助色 - 警告、失败
$danger-color: #FF2B2B !default;
$sd-danger-color  : var(--sd-danger-color  , $danger-color);
// $sd-danger-color-1: var(--sd-danger-color-1, #f67b7b);
// $sd-danger-color-2: var(--sd-danger-color-2, #f78989);
$sd-danger-color-3: var(--sd-danger-color-3, mix($sd-white, $warning-color, 30%)); // #f89898
// $sd-danger-color-4: var(--sd-danger-color-4, #f9a7a7);
$sd-danger-color-5: var(--sd-danger-color-5, mix($sd-white, $warning-color, 50%)); // #fab6b6
// $sd-danger-color-6: var(--sd-danger-color-6, #fbc4c4);
$sd-danger-color-7: var(--sd-danger-color-7, mix($sd-white, $warning-color, 70%)); // #fcd3d3
$sd-danger-color-8: var(--sd-danger-color-8, mix($sd-white, $warning-color, 80%)); // #fde2e2
$sd-danger-color-9: var(--sd-danger-color-9, mix($sd-white, $warning-color, 90%)); // #fef0f0

// 背景色
$sd-bg-color          : var(--sd-bg-color          , #F1F4FA); // $sd-gray-color-2
$sd-bg-color-container: var(--sd-bg-color-container, $sd-gray-color-2);
$sd-bg-color-overlay  : var(--sd-bg-color-mask     , rgba(0, 0, 0, 0.5));

// 文本颜色 - 亮色
$sd-text-color-primary    : var(--sd-text-color-primary     , #303133);
$sd-text-color            : var(--sd-text-color             , #606266);
$sd-text-color-secondary  : var(--sd-text-colorr-secondary  , #909399);
$sd-text-color-placeholder: var(--sd-text-color-placeholder , #A8ABB2);
$sd-text-color-disabled   : var(--sd-text-color-disabled    , #C0C4CC);
$sd-text-color-link       : var(--sd-text-color-link        , $sd-blue );

// 填充色
$sd-fill-color: var(--sd-fill-color, #F0F2F5);
$sd-fill-color-light: var(--sd-fill-color-light, #FAFAFA);
$sd-fill-color-lighter: var(--sd-fill-color-lighter, #FAFCFF);

// 边框颜色
$sd-border-color        : var(--sd-border-color, $sd-gray-color-4);
$sd-border-color-light  : var(--sd-border-color, $sd-gray-color-3);
$sd-border-color-lighter: var(--sd-border-color, $sd-gray-color-2);

// 阴影
$sd-shadow-color: var(--sd-shadow-color, 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08));
$sd-shadow-color-lihgt: var(--sd-shadow-color-lihgt, 0px 0px 12px rgba(0, 0, 0, .12));
$sd-shadow-color-lihgter: var(--sd-shadow-color-lighter, 0px 0px 6px rgba(0, 0, 0, .12));

// 透明度
$sd-opacity-loading : var(--sd-opacity-hover   , 0.9);
$sd-opacity-hover   : var(--sd-opacity-hover   , 0.7);
$sd-opacity-disabled: var(--sd-opacity-disabled, 0.5);

// 文本大小
$sd-font-size-xs: var(--sd-font-size-xs, 20rpx); // 10px -> 行高 18
$sd-font-size-sm: var(--sd-font-size-sm, 24rpx); // 12px -> 行高 20
$sd-font-size-md: var(--sd-font-size-md, 28rpx); // 14px -> 行高 22
$sd-font-size-lg: var(--sd-font-size-lg, 32rpx); // 16px -> 行高 24
$sd-font-size-h3: var(--sd-font-size-h3, 32rpx); // 16px -> 行高 24
$sd-font-size-h2: var(--sd-font-size-h3, 36rpx); // 18px -> 行高 26
$sd-font-size-h1: var(--sd-font-size-h3, 40rpx); // 20px -> 行高 28

// 文本行高
$sd-line-height-xs: var(--sd-line-height-xs, 28rpx); // 14px
$sd-line-height-sm: var(--sd-line-height-sm, 36rpx); // 18px
$sd-line-height-md: var(--sd-line-height-md, 40rpx); // 20px
$sd-line-height-lg: var(--sd-line-height-lg, 44rpx); // 22px

// 圆角值
$sd-radius-xs    : var(--sd-radius-sm, 4rpx);
$sd-radius-sm    : var(--sd-radius-sm, 8rpx);
$sd-radius-md    : var(--sd-radius-md, 16rpx);
$sd-radius-lg    : var(--sd-radius-lg, 32rpx);
$sd-radius-round : 999px;
$sd-radius-circle: 50%;

// 内边距
$sd-padding-base: var(--sd-padding-base, 8rpx );
$sd-padding-xs  : var(--sd-padding-base, 16rpx);
$sd-padding-sm  : var(--sd-padding-base, 24rpx);
$sd-padding-md  : var(--sd-padding-base, 32rpx);
$sd-padding-lg  : var(--sd-padding-base, 48rpx);
$sd-padding-xl  : var(--sd-padding-base, 64rpx);

// 外边距
$sd-margin-base: var(--sd-margin-base, 8rpx );
$sd-margin-xs  : var(--sd-margin-base, 16rpx);
$sd-margin-sm  : var(--sd-margin-base, 24rpx);
$sd-margin-md  : var(--sd-margin-base, 32rpx);
$sd-margin-lg  : var(--sd-margin-base, 48rpx);
$sd-margin-xl  : var(--sd-margin-base, 64rpx);

// 层叠
$sd-toast-z-index  : 3000;
$sd-dialog-z-index : 3000;
$sd-notify-z-index : 3000;
$sd-model-z-index  : 3000;
$sd-backtop-z-index: 2000;
$sd-popup-z-index  : 2000;
$sd-navbar-z-index : 1500;
