
@import '../styles/variables.scss';

$overlay-background: var(--sd-overlay-background, $sd-bg-color-overlay);
$overlay-z-index   : var(--sd-overlay-z-index   , $sd-popup-z-index);

.sd-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    background-color: $overlay-background;

    &.is-show {
        visibility: visible;
        opacity: 1;
    }
}
