$namespace          : 'sd' ; // 组件命名空间
$block-separator    : '-'  ; // bem_块元素选择器
$element-separator  : '__' ; // bem_元素选择器
$modifier-separator : '--' ; // bem_修饰选择器
$state-separator    : 'is-'; // 状态选择器
