@import '../styles/variables.scss';

.sd-checkbox-group {
    .sd-checkbox + .sd-checkbox {
        margin-left: 20rpx;
    }

   &--column {
        .sd-checkbox {
            display: flex;
        }

        .sd-checkbox + .sd-checkbox {
            margin-left: 0;
            margin-top: 12rpx;
        }
    }
}
