// 上面向下面划入
.sd-animation-slide-top {
    animation-name: slide-top;
}

@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
