@import '../styles/variables.scss';

$divider-line-color   : var(--sd-divider-line-color   , $sd-border-color);
$divider-content-size : var(--sd-divider-content-size , $sd-font-size-md);
$divider-content-color: var(--sd-divider-content-color, $sd-text-color-placeholder);

@mixin divider-theme($theme-color) {
    &.sd-divider--sence-default {
        .sd-divider__line {
            border-color: $theme-color;
        }

        .sd-divider__content {
            color: $theme-color
        }
    }

    &.sd-divider--sence-text {
        .sd-divider__content {
            color: $theme-color
        }
    }

    &.sd-divider--sence-line {
        .sd-divider__line {
            border-color: $theme-color;
        }
    }
}

.sd-divider {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    &__line {
        flex: 1;
        height: 1px;
        border-top: 1px solid $divider-line-color;
        transform: scaleY(0.5);

        &--dotted {
            border-top-style: dotted;
        }

        &--dashed {
            border-top-style: dashed;
        }
    }

    &__content {
        max-width: 500rpx;
        padding: 0 36rpx;
        font-size: $divider-content-size;
        color: $divider-content-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:empty {
            padding: 0;
        }
    }

    // 分割线主题
    &--primary {
        @include divider-theme($sd-primary-color);
    }
    &--success {
        @include divider-theme($sd-success-color);
    }
    &--warning {
        @include divider-theme($sd-warning-color);
    }
    &--danger {
        @include divider-theme($sd-danger-color);
    }
}
