@import '../styles/variables.scss';

$calendar-header-bg-color    : $sd-white;
$calendar-title-font-size    : $sd-font-size-md;
$calendar-title-font-color   : $sd-text-color;
$calendar-title-font-weight  : 500;
$calendar-title-line-height  : 88rpx;
$calendar-subtitle-font-size : $sd-font-size-md;
$calendar-subtitle-font-color: $sd-text-color-secondary;
$calendar-footer-height      : 124rpx;
$calendar-footer-bg-color    : $sd-white;
$calendar-footer-padding     : 20rpx 36rpx;

@mixin calendar-theme($color) {
   .sd-calendar__day {
        &--start-end,
        &--start,
        &--end,
        &--selected,
        &--multiple-selected,
        &--multiple-middle {
            background-color: $color;
            color: $sd-white;
        }

        &--middle {
            color: $color;
        }
   }
}

.sd-calendar {
    display: flex;
    flex-direction: column;

    &__header {
        width: 100%;
        background-color: $calendar-header-bg-color;
        text-align: center;

        &-icon {
            padding: 0 20rpx;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 90rpx;
        color: $calendar-title-font-color;
        font-size: $calendar-title-font-size;
        font-weight: $calendar-title-font-weight;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: $calendar-subtitle-font-size;
        margin-bottom: 14rpx;
        line-height: 44rpx;
    }

    // 星期
    &__weeks {
        display: flex;
        align-items: center;
        height: 36px;
        border-radius: 0px 0px 12px 12px;
        box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.06);

        &-item {
            text-align: center;
            flex: 1;
        }
    }

    &__body {
        overflow: hidden;
    }

    &--popup &__body {
        height: 400px;
    }

    &__days {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    &__day {
        position: relative;
        width: 14.285%;
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--start-end,
        &--start,
        &--end,
        &--selected,
        &--multiple-selected,
        &--multiple-middle {
            background-color: $sd-primary-color;
            color: $sd-white;
        }

        &--start {
            border-radius: $sd-radius-sm 0 0 $sd-radius-sm;
        }

        &--end {
            border-radius: 0 $sd-radius-sm $sd-radius-sm 0;
        }

        &--selected,
        &--start-end,
        &--multiple-selected {
            border-radius: $sd-radius-sm;
        }

        &--middle {
            position: relative;
            color: $sd-primary-color;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: currentColor;
                content: '';
                opacity: 0.1;
            }
        }

        &.is-disabled {
            background-color: transparent;
            color: $sd-text-color-disabled;
        }
    }

    &--primary {
        @include calendar-theme($sd-primary-color);
    }
    &--success {
        @include calendar-theme($sd-success-color);
    }
    &--warning {
        @include calendar-theme($sd-warning-color);
    }
    &--danger {
        @include calendar-theme($sd-danger-color);
    }

    &__month-mark {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        color: rgba(242, 243, 245, 0.8);
        font-size: 160px;
    }

    &__month-title {
        text-align: center;
        line-height: 88rpx;
        height: 88rpx;
    }

    &__top-info,
    &__bottom-info {
        position: absolute;
        font-size: 10px;
        line-height: 14px;
        right: 0;
        left: 0;
    }

    &__top-info {
        top: 6px;
    }

    &__bottom-info {
        bottom: 6px;
    }

    &__footer {
        padding: $calendar-footer-padding;
        height: $calendar-footer-height;
        background-color: $calendar-footer-bg-color;
        box-sizing: border-box;
    }
}

