@import '../styles/variables.scss';

$toast-background    : var(--sd-toast-background    , $sd-gray-color-10);
$toast-z-index       : var(--sd-toast-z-index       , $sd-toast-z-index);
$toast-radius        : var(--sd-toast-border-radius , $sd-radius-md);
$toast-row-padding   : var(--sd-toast-row-padding   , 24rpx 42rpx);
$toast-column-padding: var(--sd-toast-column-padding, 25rpx 34rpx);
$toast-text-font-size: var(--sd-toast-text-font-size, $sd-font-size-md);
$toast-text-color    : var(--sd-toast-text-color    , $sd-white);

.sd-toast {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $toast-z-index;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: $toast-row-padding;
        border-radius: $toast-radius;
        background-color: $toast-background;
    }

    &__text {
        line-height: 1.5;
        font-size: $toast-text-font-size;
        color: $toast-text-color;
    }

    &--row {
        flex-direction: row;

        .sd-icon {
            font-size: 46rpx;
        }

        .sd-image {
            display: block;
            width: 46rpx;
            height: 46rpx;
        }

        .sd-toast__text {
            margin-left: 20rpx;
            max-width: 480rpx;
        }
    }

    &--column {
        flex-direction: column;

        .sd-toast__content {
            padding: $toast-column-padding;
            min-width: 240rpx;
            max-width: 320rpx;
            height: 240rpx;
            border-radius: 32rpx;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;
        }

        .sd-image {
            width: 70rpx;
            height: 70rpx;
        }

        .sd-icon {
            font-size: 104rpx;
        }

        .sd-toast__text {
            text-align: center;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 20rpx;
        }
    }

    &.is-success {
        .sd-icon {
            color: $sd-success-color;
        }
    }

    &.is-warning {
        .sd-icon {
            color: $sd-warning-color;
        }
    }

    &.is-error {
        .sd-icon {
            color: $sd-danger-color;
        }
    }
}
