@import '../styles/variables.scss'  ;

// 按钮高度
$button-mini-height   : var(--sd-button-small-height  , 24px);
$button-small-height  : var(--sd-button-small-height  , 32px);
$button-default-height: var(--sd-button-default-height, 44px);
$button-large-height  : var(--sd-button-large-height  , 50px);

// 按钮文本大小
$button-mini-font-size   : var(--sd-button-mini-font-size   , $sd-font-size-xs);
$button-small-font-size  : var(--sd-button-small-font-size  , $sd-font-size-xs);
$button-default-font-size: var(--sd-button-default-font-size, $sd-font-size-md);
$button-large-font-size  : var(--sd-button-large-font-size  , $sd-font-size-md);

// 按钮左右间距
$button-mini-padding   : var(--sd-button-mini-padding   , $sd-padding-base);
$button-small-padding  : var(--sd-button-small-padding  , $sd-padding-xs);
$button-default-padding: var(--sd-button-default-padding, 30rpx);
$button-large-padding  : var(--sd-button-large-padding  , 30rpx);

// 按钮背景色
$button-default-background  : var(--sd-button-default-bg-color, #f0f2f5);
$button-default-color       : var(--sd-button-default-color       , $sd-text-color);
$button-default-border-color: var(--sd-button-default-border-color, $sd-border-color);

// 按钮大小
@mixin button-size($height, $padding, $font-size) {
    height: $height;
    padding: 0 $padding;
    font-size: $font-size;

    .sd-button__icon {
        font-size: 1.2em;
    }
}

// 按钮默认主题
@mixin button-default-theme() {
    background-color: $button-default-background;
    color: $button-default-color;

    // 幽灵按钮
    &.sd-button--ghost {
        background-color: $sd-white;

        &::after {
            border-color: $button-default-border-color;
        }
    }

    // 朴素按钮
    &.sd-button--plain {
        background-color: $sd-white;

        &::after {
            border-color: $button-default-border-color;
        }
    }

    // 文本按钮
    &.sd-button--text {
        background-color: transparent !important;

        &::after {
            border-width: 0;
        }
    }
}

// 按钮主题
@mixin button-theme($bg-color, $plain-color) {
    background-color: $bg-color;
    color: $sd-white;

    // 幽灵按钮
    &.sd-button--ghost {
        background-color: $sd-white;
        color: $bg-color;

        &::after {
            border-width: 2px;
            border-color: $bg-color;
        }
    }

    // 朴素按钮
    &.sd-button--plain {
        background-color: $plain-color;
        color: $bg-color;

        &::after {
            border-width: 2px;
            border-color: $bg-color;
        }
    }

    // 文本按钮
    &.sd-button--text {
        background-color: transparent !important;
        color: $bg-color;

        &::after {
            border-width: 0;
        }
    }
}

// 按钮边框形状
@mixin button-radius($border-radius) {
    border-radius: $border-radius;

    &::after {
        border-radius: calc($border-radius * 2);
    }
}

.sd-button {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    outline: none;
    overflow: hidden;
    --webkit-touch-callout: none;
    --webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    @include button-size($button-default-height, $button-default-padding, $button-default-font-size);
    @include button-default-theme();
    @include button-radius($sd-radius-md);

    &::before,
    &::after {
        border: none;
    }

    // 按钮边框
    &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        box-sizing: border-box;
        border-style: solid;
        border-color: transparent;
        transform: scale(0.5);
        transform-origin: 0 0;
        z-index: 0;
    }

    // 按钮类型
    &--primary {
        @include button-theme($sd-primary-color, $sd-primary-color-9);
    }
    &--success {
        @include button-theme($sd-success-color, $sd-success-color-9);
    }
    &--warning {
        @include button-theme($sd-warning-color, $sd-warning-color-9);
    }
    &--danger {
        @include button-theme($sd-danger-color, $sd-danger-color-9);
    }

    // 按钮边框形状
    &--round { // 椭圆
        @include button-radius($sd-radius-max);
    }
    &--circle { // 圆形
        @include button-radius($sd-radius-circle);
    }

    // 按钮大小
    &--mini {
        @include button-size($button-mini-height, $button-mini-padding, $button-mini-font-size);
    }
    &--small {
        @include button-size($button-small-height, $button-small-padding, $button-small-font-size);
    }
    &--large {
        @include button-size($button-large-height, $button-large-padding, $button-large-font-size);
    }

    // 按钮图标
    &__icon {
        display: inline-block;
        color: inherit;
    }

    &.has-text &__icon {
        margin-right: 8rpx;
    }

    // 块级按钮
    @include when(block) {
        display: flex;
        width: 100%;
    }

    // 点击态
    @include clickable($sd-black);

    // 禁用按钮
    @include when(disabled) {
        cursor: not-allowed;
        opacity: $sd-opacity-disabled;

        &::before {
            display: none;
        }
    }

    // 加载状态
    @include when(loading) {
        &::before {
            display: none;
        }
    }
}

