@import '../styles/variables.scss';

$tabs-background           : var(--sd-tabs-background, $sd-white);
$tabs-height               : var(--sd-tabs-height, 90rpx);
$tabs-font-size            : var(--sd-tabs-font-size, $sd-font-size-md);
$tabs-text-color           : var(--sd-tabs-text-color, $sd-text-color);
$tabs-active-text-color    : var(--sd-tabs-active-text-color, $sd-primary-color);
$tabs-disabled-text-color  : var(--sd-tabs-disabled-text-color, $sd-text-color-disabled);
$tabs-item-padding         : var(--sd-tabs-padding, 32rpx);
$tabs-bottom-bar-height    : var(--sd-tabs-bottom-bar-height, 3px);
$tabs-bottom-bar-background: var(--sd-tabs-bottom-bar-background, $sd-primary-color);

.sd-tabs {
    display: flex;
    flex-direction: column;
    background-color: $tabs-background;
    overflow: hidden;

    &__scroll-view {
        height: $tabs-height;
    }

    &__items {
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 100%;

        .sd-tabs__item {
            flex: 1;
            height: 100%;
        }

        &.is-scrollable .sd-tabs__item {
            flex: none;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: $tabs-item-padding;
        padding-right: $tabs-item-padding;
        box-sizing: border-box;
        color: $tabs-text-color;

        &-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $tabs-font-size;
        }

        &.is-active {
            color: $tabs-active-text-color;

            .sd-tabs__item-text {
                font-weight: bold;
            }
        }

        &.is-disabled {
            color: $tabs-disabled-text-color;
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60rpx;
        height: $tabs-bottom-bar-height;
        border-radius: 2px;
        transition-property: transform;
        transition-timing-function: linear;
        background-color: $tabs-bottom-bar-background;
    }
}

