@import '../styles/variables.scss';

$tabs-header-bg-color: var(--sd-tabs-bg-color, $sd-white);
$tabs-header-height: var(--sd-tabs-header-height, 90rpx);

.sd-tabs {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
        background-color: $tabs-header-bg-color;
        height: $tabs-header-height;
    }

    &__items {
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 100%;

        .sd-tabs__item {
            flex: 1;
        }

        &.is-scrollable .sd-tabs__item {
            flex: none;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 32rpx;
        padding-right: 32rpx;
        box-sizing: border-box;

        &-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.is-active {
            font-weight: bold;
            color: $sd-primary-color;
        }

        &.is-disabled {
            color: $sd-text-color-disabled;
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60rpx;
        height: 3px;
        border-radius: 2px;
        transition-property: transform;
        transition-timing-function: linear;
        background-color: $sd-primary-color;
    }
}

