.sd-animation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
