@import '../styles/variables.scss';

$badge-background  : var(--sd-badge-background, $sd-danger-color);
$badge-color       : var(--sd-badge-color     , $sd-white);
$badge-font-size   : var(--sd-badge-font-size , $sd-font-size-sm);
$badge-dot-size    : var(--sd-badge-dot-size  , 16rpx);

@mixin badge-theme($bg-color) {
    .sd-badge__dot,
    .sd-badge__content {
        background-color: $bg-color;
    }
}

.sd-badge {
    display: inline-flex;
    position: relative;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 0 12rpx;
        font-size: $badge-font-size;
        height: 36rpx;
        line-height: 1;
        box-sizing: border-box;
        color: $badge-color;
        background-color: $badge-background;
        z-index: 1;
    }

    &__dot {
        width: $badge-dot-size;
        height: $badge-dot-size;
        padding: 0;
        border-radius: $sd-radius-circle;
        background-color: $badge-background;
    }

    // 徽标主题
    &--primary {
        @include badge-theme($sd-primary-color);
    }
    &--success {
        @include badge-theme($sd-success-color);
    }
    &--warning {
        @include badge-theme($sd-warning-color);
    }
    &--danger {
        @include badge-theme($sd-danger-color);
    }

    // 徽标形状
    &--circle &__content {
        border-radius: $sd-radius-round;
    }

    &--square &__content {
        border-radius: $sd-radius-sm;
    }

    &--bubble &__content {
        border-radius: 10px 10px 10px 1px;
    }

    &.is-absolute &__content {
        position: absolute;
    }

    &.is-absolute &__dot  {
        position: absolute;
        right: calc(($badge-dot-size / 2 * -1));
        top: calc(($badge-dot-size / 2 * -1));
    }

    // 徽标位置
    &.is-top-right.is-absolute &__content {
        transform: translateY(-50%) translateX(50%);
        top: 0;
        right: 0;
    }

    &.is-top-left.is-absolute &__content {
        transform: translateY(-50%) translateX(-50%);
        top: 0;
        left: 0;
    }

    &.is-bottom-left.is-absolute &__content {
        bottom: 0;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
    }

    &.is-bottom-right.is-absolute &__content {
        bottom: 0;
        right: 0;
        transform: translateY(-50%) translateX(50%);
    }
}
