@import '../styles/variables.scss';

$picker-background           : var(--sd-picker-background           , $sd-white);
$picker-radius               : var(--sd-picker-radius               , $sd-radius-lg);
$picker-header-height        : var(--sd-picker-header-height        , 100rpx);
$picker-title-font-size      : var(--sd-picker-title-font-size      , $sd-font-size-lg);
$picker-title-color          : var(--sd-picker-title-color          , $sd-text-color);
$picker-view-column-font-size: var(--sd-picker-view-column-font-size, $sd-font-size-lg);
$picker-view-column-color    : var(--sd-picker-view-column-color    , $sd-text-color);
$picker-view-column-padding  : var(--sd-picker-view-column-padding  , 0 8rpx);

.sd-picker {
    background-color: $picker-background;
    border-radius: $picker-radius $picker-radius 0 0;
    overflow: hidden;

    &__title {
        padding-top: 40rpx;
        text-align: center;
        font-size: $picker-title-font-size;
        color: $picker-title-color;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-content {
        overflow: hidden;
        background-color: $picker-background;
        padding: 60rpx 0;

        .sd-picker-view {
            width: 100%;
            height: 100%;
        }

        .sd-picker-view-column {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $picker-view-column-padding;
            color: $picker-view-column-color;
            font-size: $picker-view-column-font-size;
            box-sizing: border-box;
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
        padding-bottom: 40rpx;

        .sd-button {
            font-size: 32rpx;
        }
    }
}
