@import '../styles/variables.scss';

$sd-popup-border-radius: var(--sd-popup-border-radius, $sd-border-radius-l);

.sd-popup {
    background-color: $sd-white;
    box-sizing: border-box;
    overflow: hidden;

    &--bottom {
        padding-bottom: env(safe-area-inset-bottom);

        &.sd-popup--round {
            border-radius: $sd-popup-border-radius $sd-popup-border-radius 0 0;
        }
    }

    &--top {
        &.sd-popup--round {
            border-radius: 0 0 $sd-popup-border-radius $sd-popup-border-radius;
        }
    }

    &--center {
        &.sd-popup--round {
            border-radius: $sd-popup-border-radius;
        }
        &.sd-popup--round .sd-popup__body {
            border-radius: 0 0 $sd-popup-border-radius $sd-popup-border-radius;
        }
    }

    &--left,
    &--right {
        height: 100%;
    }

    &__header {
        min-height: 90rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    &__title {
        font-size: $sd-font-size-m;
    }

    &__header-close {
        position: absolute;
        top: 16rpx;
        right: 20rpx;
        width: 60rpx;
        height: 60rpx;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        overflow: hidden;
        width: 100%;
    }

    &__footer-close {
        position: absolute;
        left: 50%;
        bottom: -100rpx;
        width: 60rpx;
        height: 60rpx;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $sd-white;
        z-index: $sd-popup-z-index;

        .sd-icon {
            font-size: 60rpx;
            color: $sd-white;
        }
    }
}
