@import '../styles/variables.scss';

.sd-icon {
    font-family: 'sd-iconfont';
    text-decoration: none;
    text-align: center;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: both;

    &--primary {
        color: $sd-primary-color;
    }

    &--success {
        color: $sd-success-color;
    }

    &--warning {
        color: $sd-warning-color;
    }

    &--danger {
        color: $sd-danger-color
    }

    &.is-loading {
        display: inline-block;
        animation-iteration-count: infinite;
        animation-name: jump;
    }

    @keyframes jump {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }
}
