@import '../styles/variables.scss';

@include b('select') {
    &-content .sd-checkbox-group2--divider .sd-checkbox2,
    &-content .sd-radio-group2--divider .sd-radio2 {
        padding-left: 30rpx;
        padding-right: 30rpx;
    }

    &-footer {
        padding: 30rpx;
    }
}
