@import '../styles/variables.scss'  ;

$navbar-height         : var(--sd-navbar-height     , 86rpx);
$navbar-background     : var(--sd-navbar-background , $sd-white);
$navbar-color          : var(--sd-navbar-color      , $sd-text-color);
$navbar-icon-size      : var(--sd-navbar-icon-size  , 28rpx);
$navbar-icon-color     : var(--sd-navbar-icon-color , 'inherit');
$navbar-z-index        : var(--sd-navbar-z-index    , $sd-navbar-z-index);
$navbar-title-font-size: var(--sd-navbar-title-font-size, 32rpx);

.sd-navbar {
    position: relative;
    color: $navbar-color;
    background-color: $navbar-background;
    z-index: $navbar-z-index;

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        height: $navbar-height;
    }

    &__left,
    &__right {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 0 20rpx;

        .sd-icon {
            font-size: $navbar-icon-size;
            color: $navbar-icon-color;
        }

        &:active {
            opacity: $sd-opacity-hover;
        }
    }

    &__left {
        left: 0;
        .sd-icon { margin-right: 6rpx; }
    }

    &__right {
        right: 0;
        .sd-icon { margin-left: 6rpx; }
    }

    &__center {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: $navbar-title-font-size;
        height: 100%;
    }
}
