@import '../styles/variables.scss';

$tag-small-padding       : var(--sd-tag-small-padding, 10rpx);
$tag-small-round-padding : var(--sd-tag-small-padding, 10rpx 16rpx);
$tag-small-mark-padding  : var(--sd-tag-small-padding, 10rpx 16rpx);

$tag-normal-padding      : var(--sd-tag-normal-padding, 14rpx 16rpx);
$tag-normal-round-padding: var(--sd-tag-normal-padding, 14rpx 16rpx);
$tag-normal-mark-padding : var(--sd-tag-normal-padding, 14rpx 16rpx);

$tag-large-padding       : var(--sd-tag-large-padding, 16rpx 18rpx);
$tag-large-round-padding : var(--sd-tag-large-padding, 16rpx 18rpx);
$tag-large-mark-padding  : var(--sd-tag-large-padding, 16rpx 18rpx);

$tag-small-font-size     : var(--sd-tag-samll-font-size, $sd-font-size-xs);
$tag-normal-font-size    : var(--sd-tag-normal-font-size, $sd-font-size-s);
$tag-large-font-size     : var(--sd-tag-large-font-size, $sd-font-size-base);

$tag-bg-color  : var(--sd-tag-bg-color, $sd-bg-color-container);
$tag-text-color: var(--sd-tag-text-color, $sd-text-color);

@mixin tag-theme($bg-color, $light-bg-clolor) {
    background-color: $bg-color;
    color: $sd-white;

    &.sd-tag--light {
        background-color: $light-bg-clolor;
        color: $bg-color;
    }

    &.sd-tag--plain {
        background-color: transparent;
        color: $bg-color;

        &::after {
            border-color: $bg-color;
        }
    }
}

@mixin tag-size($size: 'nomarl') {
    $tag_size         : $tag-normal-font-size;
    $tag_padding      : $tag-normal-padding;
    $tag_round_padding: $tag-normal-round-padding;
    $tag_mark_padding : $tag-normal-mark-padding;

    @if ($size == 'small') {
        $tag_size         : $tag-small-font-size;
        $tag_padding      : $tag-small-padding;
        $tag_round_padding: $tag-small-round-padding;
        $tag_mark_padding : $tag-small-mark-padding;
    } @else if($size == 'large') {
        $tag_size         : $tag-large-font-size;
        $tag_padding      : $tag-large-padding;
        $tag_round_padding: $tag-large-round-padding;
        $tag_mark_padding : $tag-large-mark-padding;
    }

    padding: $tag_padding;
    font-size: $tag_size;

    .sd-tag__icon {
        width: $tag_size;
        height: $tag_size;
    }

    // 标签形状
    &.sd-tag--square {
        border-radius: $sd-border-radius-s;
    }
    &.sd-tag--round {
        border-radius: $sd-border-radius-round;
        padding: $tag_round_padding;
        &::after {
            border-radius: calc($sd-border-radius-round * 2);
        }
    }
    &.sd-tag--mark {
        border-radius: 0 $sd-border-radius-round $sd-border-radius-round 0;
        padding: $tag_mark_padding;
        &::after {
            border-radius: 0 calc($sd-border-radius-round * 2) calc($sd-border-radius-round * 2) 0;
        }
    }

}

.sd-tag {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1;

    &__text {
        width: 100%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1;
        vertical-align: middle;
    }

    &__icon {
        margin-right: 6rpx;
    }

    &__close {
        margin-left: 8rpx;
    }

    // 按钮边框
    &::after {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
        pointer-events: none;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        border: 0 solid $sd-border-color;
        border-radius: calc($sd-border-radius-s * 2);
        transform: scale(.5);
        z-index: 1;
    }

    &.sd-tag--plain::after {
        border-width: 2px;
    }

    // 标签尺寸
    &--small {
        @include tag-size('small');
    }
    &--normal {
        @include tag-size('normal');
    }
    &--large {
        @include tag-size('large');
    }

    // 标签主题
    &--default {
        background-color: $tag-bg-color;
        color: $tag-text-color;

        &.sd-tag--plain {
            background-color: transparent;
            color: $tag-text-color;

            &::after {
                border-color: $sd-border-color;
            }
        }
    }
    &--primary {
        @include tag-theme($sd-primary-color, $sd-primary-color-9);
    }
    &--success {
        @include tag-theme($sd-success-color, $sd-success-color-9);
    }
    &--warning {
        @include tag-theme($sd-warning-color, $sd-warning-color-9);
    }
    &--danger {
        @include tag-theme($sd-danger-color, $sd-danger-color-9);
    }
}

.sd-tag + .sd-tag {
    margin-left: 16rpx;
}
