@import '../styles/variables.scss';

$calendar-background                : var(--sd-calendar-background                , $sd-white);
$calendar-popup-height              : var(--sd-calendar-popup-height              , 400px);
$calendar-header-shadow             : var(--sd-calendar-header-shadow             , 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.06));
$calendar-header-title-height       : var(--sd-calendar-header-title-height       , 44px);
$calendar-header-title-font-size    : var(--sd-calendar-header-title-font-size    , $sd-font-size-md);
$calendar-header-title-color        : var(--sd-calendar-header-title-color        , $sd-text-color);
$calendar-header-subtitle-font-size : var(--sd-calendar-header-subtitle-font-size , $sd-font-size-md);
$calendar-header-subtitle-color     : var(--sd-calendar-header-subtitle-color     , $sd-text-color);
$calendar-header-weekdays-height    : var(--sd-calendar-header-weekdays-height    , 30px);
$calendar-header-weekdays-font-size : var(--sd-calendar-header-weekdays-font-size , $sd-font-size-sm);
$calendar-month-title-font-size     : var(--sd-calendar-month-title-font-size     , $sd-font-size-md);
$calendar-month-title-color         : var(--sd-calender-month-title-color         , $sd-text-color);
$calendar-month-title-height        : var(--sd-calender-month-title-height        , 88rpx);
$calendar-month-mark-color          : var(--sd-calendar-month-mark-color          , rgba(242, 243, 245, 0.8));
$calendar-month-mark-font-size      : var(--sd-calendar-month-mark-font-size      , 160px);
$calendar-day-height                : var(--sd-calendar-day-height                , 50px);
$calendar-day-color                 : var(--sd-calendar-day-color                 , $sd-text-color);
$calendar-day-font-size             : var(--sd-calendar-day-font-size             , $sd-font-size-md);
$calendar-day-selected-background   : var(--sd-calendar-selected-background       , $sd-primary-color);
$calendar-day-selected-color        : var(--sd-calendar-selected-color            , $sd-white);
$calendar-day-disabled-background   : var(--sd-calendar-day-disabled-background   , transparent);
$calendar-day-disabled-color        : var(--sd-calendar-day-disabled-color        , $sd-text-color-disabled);
$calendar-info-font-size            : var(--sd-calendar-info-font-size            , 10px);
$calendar-info-line-height          : var(--sd-calendar-info-line-height          , 1.4);
$calendar-footer-height             : var(--sd-calendar-footer-height             , 124rpx);
$calendar-footer-padding            : var(--sd-calendar-footer-padding            , 20rpx 36rpx 30rpx);

.sd-calendar {
    display: flex;
    flex-direction: column;
    background-color: $calendar-background;

    &-header {
        width: 100%;
        padding: 0 8rpx;
        box-shadow: $calendar-header-shadow;
        box-sizing: border-box;

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: $calendar-header-title-height;
            font-size: $calendar-header-title-font-size;
            color: $calendar-header-title-color;
            font-weight: bold;
        }

        &__subtitle {
            color: $calendar-header-subtitle-color;
            font-size: $calendar-header-subtitle-font-size;
            margin: 0 12rpx;
            font-weight: bold;
        }

        &__actions {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 14rpx;
        }
    }

    // 星期
    &__weeks {
        display: flex;
        align-items: center;
        height: $calendar-header-weekdays-height;
        font-size: $calendar-header-weekdays-font-size;

        &-item {
            text-align: center;
            flex: 1;
        }
    }

    &__body {
        padding: 0 8rpx;
        box-sizing: border-box;
        overflow: hidden;
    }
    &--popup &__body {
        height: $calendar-popup-height;
    }

    &__days {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    &__day {
        position: relative;
        width: 14.285%;
        height: $calendar-day-height;
        font-size: $calendar-day-font-size;
        color: $calendar-day-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8rpx;

        &--start-end,
        &--start,
        &--end,
        &--selected,
        &--multiple-selected,
        &--multiple-middle {
            background-color: $calendar-day-selected-background;
            color: $calendar-day-selected-color;
        }

        &--start {
            border-radius: $sd-radius-sm 0 0 $sd-radius-sm;
        }

        &--end {
            border-radius: 0 $sd-radius-sm $sd-radius-sm 0;
        }

        &--selected,
        &--start-end,
        &--multiple-selected {
            border-radius: $sd-radius-sm;
        }

        &--middle {
            position: relative;
            color: $calendar-day-selected-background;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: currentColor;
                content: '';
                opacity: 0.1;
            }
        }

        &.is-disabled {
            background-color: $calendar-day-disabled-background;
            color: $calendar-day-disabled-color;
        }
    }

    &__month-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: $calendar-month-title-height;
        color: $calendar-month-title-color;
        font-size: $calendar-month-title-font-size;
        font-weight: bold;
    }

    &__month-mark {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        color: $calendar-month-mark-color;
        font-size: $calendar-month-mark-font-size;
    }

    &__top-info,
    &__bottom-info {
        position: absolute;
        font-size: $calendar-info-font-size;
        line-height: $calendar-info-line-height;
        right: 0;
        left: 0;
    }

    &__top-info {
        top: 6px;
    }

    &__bottom-info {
        bottom: 6px;
    }

    &__footer {
        padding: $calendar-footer-padding;
        height: $calendar-footer-height;
        box-sizing: border-box;
    }
}

